# --- Archivos Compilados y Empaquetados ---
*.class
*.log
*.ctxt
*.mtj.tmp
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- Directorios de Salida Estándar ---
bin/
out/

# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# --- Gradle ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Eclipse ---
.classpath
.project
.settings/
.metadata/
bin/

# --- NetBeans ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- Visual Studio Code ---
.vscode/
*.code-workspace
.history/

# --- Archivos del Sistema Operativo ---
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini